<div *ngIf="isLoading" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!isLoading && pokemons.results.length > 0" class="container">
  <h1>List of Pokemons</h1>
    <div class="mb-2 d-flex justify-content-end">
    <button id="table display" class="me-2 pt-2 border-0" (click)="displayMode = 'table'">
      <mat-icon class="m-0 p-0 ">view_list</mat-icon>
    </button>
    <button id="card display" class="me-3 pt-2 border-0" (click)="displayMode = 'cards'">
      <mat-icon class="m-0">view_module</mat-icon>
    </button>
  </div>
  
  <div  *ngIf="displayMode === 'table'" class="container">
    <mat-grid-list cols="1" rowHeight="18vh">
      <mat-grid-tile *ngFor="let pokemon of pokemons.results">
        <a [routerLink]="['/pokemon', pokemon.name]" class="list-group-item list-group-item-action animate__animated animate__bounce animate__fadeIn">
          <img style="height: 80%;" *ngIf="getSpriteUrl(pokemon.name)" [src]="getSpriteUrl(pokemon.name)" alt="Pokemon Sprite" />
          {{ pokemon.name | titlecase }}
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="displayMode === 'cards'" class="container">
    <div class="card-container">
      <a *ngFor="let pokemon of pokemons.results" [routerLink]="['/pokemon', pokemon.name]" class="card card-hover animate__animated animate__bounce animate__fadeIn">
        <div class="card-content">
          <img *ngIf="getSpriteUrl(pokemon.name)" [src]="getSpriteUrl(pokemon.name)" alt="Pokemon Sprite" />
          <div class="card-title">{{pokemon.name | titlecase }}</div>
        </div>
      </a>
    </div>
  </div>
</div>